<!DOCTYPE html>
<html>
<head>
    <title>Pesquisa na Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .pesquisa {
            text-align: center;
            margin-left: 2%;
            margin-right: 2%;
        }
        .pesquisa .btn-primary {
            margin-top: 1%;
        }
        .resultado {
            margin-left: 2%;
            margin-right: 2%;
            text-align: center;
            margin-top: 1%;
        }
    </style>
</head>
<body>
    <div class="pesquisa">
    <h1>Pesquisa na Web</h1>
    <form method="POST">
        <input type="text" class="form-control" name="query" placeholder="Digite sua consulta" required>
        <input type="submit" class="btn-primary" value="Pesquisar">
    </form>
</div>
<div class="resultado">
    {% if resultado %}
    <h2>Resultado:</h2>
    <p class="text-break text-center">{{ resultado|safe }}</p><br>
    {% endif %}

    {% if conteudo_completo %}
    <h3>Conteúdo Completo:</h3>
    <p class="text-break text-center">{{ conteudo_completo|safe }}</p><br>
    {% endif %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
